{% extends "base.html" %}
{% load coffeescript %}
{% block content %}
.row
        %h3 Frequently Asked Questions
        %br
        %h4 1. What is this website for?
        .well
            %p TBD
        %h4 2. Why would I submit anything?
        .well
            %p TBD.
        %h4#persistance 3. How do I know my data is safe and will be available for the years to come?
        .well
           %p TBD
        %h4#decoding 4. How does decoding work?
        .well
            %p TBD
        %h4#reference 5. How can I cite AFQVault?
        .well
            %p TBD
        %h4 6. Is it only about fMRI?
        .well
            %p TBD
        %h4 7. How can I access the database in a programmatic way? Is there an API?
        .well
            %p
            :markdown
                Yes there is a RESTful API - you can find it [here]({% url 'api-docs' %}). Please let us know if you build something cool using AFQVault!
        %h4 8. I found a bug. How can I report it?
        .well
            %p Excellent! Please use the "Give feedback" button in the toolbar.
        %h4 9. Who is behind the project?
        .well
            %p TBD
        %h4 10. I'm a developer and I have some ideas on how to improve the website.
        .well
            %p Fantastic! You can send us a pull request on <a href="https://github.com/bcipolli/AFQVault">github</a>.
        %h4 11. Sharing statistical maps is great, but I would like to share whole datasets!
        .well
            %p AFQVault is dedicated to just AFQ maps, but you should check out <a href="http://www.openfmri.org">OpenfMRI</a>. Additionally you might consider publishing a <a href="http://multiplecomparisons.blogspot.de/2013/02/making-data-sharing-count.html">data paper</a> to get credit for your sharing efforts.
        %h4 12. Those are some beautiful viewers! Where did you get them from?
        .well
            %p TBD
        %h4 13. What license is the data distributed under?
        .well
            %p All data in AFQ (with exclusion of private collections) is distributed under <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 license</a>.
{% endblock %}
